/*L equipe */
body #funequipe {
  width: 100%;
  height: 80vh;
  background: url(../img/funequipe_fond.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  border-top: 3px solid #5ABCA9; 
}

body #team {
  width: 100%;
  height: 100vh;
  background: none; }

#funequipe article:nth-child(1) {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    background: none;
    margin-top: 50px; 
}

  #funequipe article:nth-child(2) {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: none;
    
}

#funequipe article:nth-child(2) h2 {
    font-family: Hoss Round;
    font-size: 30px;
    color: #FFFFFF; 
}
    
#funequipe article:nth-child(2) p {
    font-family: Hoss Round;
    font-size: 20px;
    color: #FFFFFF; 
}


#team h3 {
    font-family: Omnes;
    font-size: 42px;
    padding-top: 50px;
    color: #F0143E;
    text-align: center; 
}
  #team div {
    height: 100vh;
    width: 80%;
    background: lightgreen;
    margin: 0 auto;
    margin-top: 100px; 
}
  #team article {
    width: 50%;
    height: 50vh;
    background: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    
    #team article h4 {
      font-family: Hoss Round;
      font-size: 30px;
      font-weight: bold; }
    #team article h5 {
      font-family: Hoss Round;
      font-size: 20px;
      font-weight: normal; }
    #team article p {
      font-family: Hoss Round;
      font-size: 20px;
      font-weight: normal;
      width: 70%; }
    #team article .image_adrien_alexis {
      position: relative;
      top: 40px;
      right: 150px; }
    #team article .image_alexis_ludovic {
      position: relative;
      top: 40px;
      right: 150px; }
  

#footerteam{
  margin-top: 34vh;
  background: #5ABCA9;
}